include _includes/head

  body

    include _includes/navigation

    .wrapper

      .main

        aside
          block sidebar

        section.clear
          .grid
            block content

    include _includes/footer