
section#slider
	.flexslider.carousel
		ul.slides
			li
				.inner
					.text
						p.headline
							Red with Envy.
						p.tag
							Hunter Hayes' European debut album looks as good as it sounds. Check out the new aesthetic for Country Music's fresh-faced guitar hero.
						.btnBox
							a.btn.alt.fancybox(href="#hayescd")Check it out
			    img(src="/_assets/img/slider-hayes.jpg" alt="Hunter Hayes cd packaging design" title="Hunter Hayes, I Want Crazy album design")
			li
				.inner
					div.text.two-lines
						p.headline
							Anybody Can Jump A Motorcycle.
						p.tag
							The trouble begins when you try to land it. Learn how we can help you and your business land safely with custom design solutions./p
						div.btnBox
							a.btn.alt(href="#services"#slider-services-link)Check it out
			    img(src="/_assets/img/slider-motorcycle.jpg" alt="Anybody can jump a motorcycle." title="Anybody can jump a motorcycle.")
	a#slider-about-link.scroll(href="#about")Scroll Down
