
footer
	.inner
		span.icon-logo
		.socials	
			a(href="https://www.facebook.com/stuntdoublecreative" target="_blank" rel="nofollow")
			a(href="https://instagram.com/stuntdoublecreative/" target="_blank" rel="nofollow")
			a(href="https://twitter.com/stntdblcreates/" target="_blank" rel="nofollow")
			a(href="https://www.etsy.com/shop/StuntDoubleCreative" target="_blank" rel="nofollow")
		p
			&copy;2016 Stunt Double Creative, LLC | All Rights Reserved
		.clear
		