
doctype html
html(lang=locale)
  head
    block meta
      meta(name="viewport" content="width=device-width, initial-scale=1")
      link(rel="apple-touch-icon" sizes="57x57" href="_images/icons/apple-icon-57x57.png")
      link(rel="apple-touch-icon" sizes="60x60" href="_images/icons/apple-icon-60x60.png")
      link(rel="apple-touch-icon" sizes="72x72" href="_images/icons/apple-icon-72x72.png")
      link(rel="apple-touch-icon" sizes="76x76" href="_images/icons/apple-icon-76x76.png")
      link(rel="apple-touch-icon" sizes="114x114" href="_images/icons/apple-icon-114x114.png")
      link(rel="apple-touch-icon" sizes="120x120" href="_images/icons/apple-icon-120x120.png")
      link(rel="apple-touch-icon" sizes="144x144" href="_images/icons/apple-icon-144x144.png")
      link(rel="apple-touch-icon" sizes="152x152" href="_images/icons/apple-icon-152x152.png")
      link(rel="apple-touch-icon" sizes="180x180" href="_images/icons/apple-icon-180x180.png")
      link(rel="icon" type="image/png" sizes="192x192" href="_images/icons/android-icon-192x192.png")
      link(rel="icon" type="image/png" sizes="32x32" href="_images/icons/favicon-32x32.png")
      link(rel="icon" type="image/png" sizes="96x96" href="_images/icons/favicon-96x96.png")
      link(rel="icon" type="image/png" sizes="16x16" href="_images/icons/favicon-16x16.png")

    title
      block title
        #{title}

    block styles
      link(rel='stylesheet' type='text/css'href='https://fonts.googleapis.com/css?family=Raleway:500,300,700')
      link(rel="stylesheet" type="text/css" href="_styles/compiled.css")

    block scripts
      script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
      script(type="text/javascript" src="_scripts/min/main-min.js")
      script(type="text/javascript" src="_scripts/min/scrollspy-min.js")
      script(type="text/javascript" src="_scripts/min/flexslider-min.js")
      script(type="text/javascript" src="_scripts/min/smoothscroll-min.js")
      script(type="text/javascript" src="_scripts/min/isotope-min.js")
      script(type="text/javascript" src="_scripts/min/fancybox-min.js")
      script(type="text/javascript" src="https://www.google.com/recaptcha/api.js")
      include _scripts/scripts-head.js
      