
body(data-spy="scroll" data-target="nav")
	header
		nav
			.inner
				#logo
					a(href="#top" id="top-link"><img src="/_assets/img/logo-horizontal.png" alt="Stunt Double Creative logo" title="Stunt Double Creative logo")
				ul#main
					li
						a(href="#about" id="about-link")About
					li
						a(href="#portfolio" id="portfolio-link")Portfolio
          li
          	a(href="#team" id="team-link")Team
					li
						a(href="#services" id="services-link")Services
          li
          	a(href="#clients" id="clients-link")Clients
					li
						a(href="#contact" id="contact-link")Contact
					a(href="#" id="showMenu")
						img(src="/_assets/img/menu.png")
