
/******** START MAIN FOOTER STYLES *********/

footer {
	background-image: url(/_assets/img/footer.jpg);
	background-attachment: fixed;
	background-position: center bottom;
	margin-top: 112px;
	position: relative;
	.inner {
		position: relative;
	}
	.socials {
		padding: 140px 0 128px;
		position: absolute;
		top: 0;
		left: 0;
		a {
			font-size: 3em;
			color: #000;
			margin-right: 10px;
			.transition;
			&:hover {
				color: #fff;
			}
		}
	}
	span.icon-logo {
		font-size: 14.25em;
		color: #fff;
		padding-top: 50px;
		text-align: center;
		display: block;
	}
	p {
		.proxima-nova-bold;
		padding: 140px 0 0;
		font-size: .8em;
		color: #000;
		text-align: right;
		position: absolute;
		right: 0;
		top: 0;
	}
}

/******** END FOOTER STYLES *********/
