
/******** START MAIN HEADER AND NAVIGATION STYLES *********/


header {
	position: relative;
	nav {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		&.fixed {
			background-color: #fff;
			.drop-shadow;
			position: fixed;
			top: 0;
			div.img {
				background: url(/_assets/img/logo-snipe.png) no-repeat center center transparent;
				img {
					visibility: hidden;
				}
			}
		}
		div.img {
			position: absolute;
			left: 0;
		}
		ul {
			margin: 37px 5% 0 0;
			width: 95%;
			position: absolute;
			right: 0;
			text-align: right;
			li {
				display: inline-block;
				.proxima-nova-light;
				font-size: 1em;
				text-transform: uppercase;
				padding: 0 1%;
				letter-spacing: 4px;
				a {
					color: #fff;
					text-decoration: none;
				}
				&#line {
					position: absolute;
					height: 3px;
					bottom: -5px;
					margin: 0 0 0 .9%;
					background: @red none repeat scroll 0 0;
					.transition;
				}
			}
		}
	}
}


/******** END MAIN HEADER AND NAVIGATION STYLES *********/
