
/******** START MAIN HEADER AND NAVIGATION STYLES *********/


header {
	position: relative;
	nav {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		&.fixed {
			background-color: #fff;
			position: fixed;
			top: 0;
			height: 100px;
			background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
			div#logo {
				background: url(/_assets/img/logo-snipe.png) no-repeat center 10px transparent;
				img {
					opacity: 0;
					.transition;
				}
			}
		}
		div#logo {
			position: absolute;
			left: 0;
		}
		ul {
			margin: 37px 5% 0 0;
			width: 95%;
			position: absolute;
			right: 0;
			text-align: right;
			li {
				display: inline-block;
				.proxima-nova-light;
				font-size: 1em;
				text-transform: uppercase;
				padding: 0 1%;
				letter-spacing: 4px;
				a {
					color: #fff;
					text-decoration: none;
				}
				&:first-child {
					padding-left: 0;
				}
				&#line {
					position: absolute;
					height: 3px;
					bottom: -5px;
					margin: 0 0 0 .9%;
					background: @red none repeat scroll 0 0;
					.transition;
				}
			}
		}
	}
}


/******** END MAIN HEADER AND NAVIGATION STYLES *********/
