
/******** START TEAM SECTION STYLES *********/


section#team {
	div > div {
		width: 100%;
		padding: 0 35%;
		img {
			width: 100%;
		}
		h4 {
			padding-top: 5px;
			&:after {
				width: 70px;
				margin: 18px auto;
			}
		}
	}
	// div.right {
	// 	margin-left: 1%;
	// 	vertical-align: top;
	// }
	p {
		margin: 0 -16%;
	}
}

/******** END TEAM SECTION STYLES *********/
