
section#slider
	position: relative
	a.scroll
		color: #fff
		display: block
		text-align: center
		text-decoration: none
		.proxima-nova-black
		text-transform: uppercase
		letter-spacing: 5px
		font-size: 0.75em
		position: absolute
		bottom: 20px
		left: 50%
		margin-left: -70px
		&:after
			background: url('/_assets/img/arrow-down.png') no-repeat center center transparent
			width: 20px
			height: 20px
			content: ""
			display: block
			margin: 5px 0 0 45%
