@charset "UTF-8";
/* Eric Meyer's reset
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0b1 | 201101 
	NOTE: WORK IN PROGRESS
	USE WITH CAUTION AND TEST WITH ABANDON */
/* Use this reset as a starting point, and customize to your needs */
/* Slightly modified to prevent anchor elements from losing outline, as in HTML5 Boilerplate */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}
a {
  background: transparent;
  outline: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Meyer's reset ends here */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
b,
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
small {
  font-size: 85%;
}
img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
input[disabled] {
  cursor: default;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
/* Colors for form validity */
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) {
  overflow: hidden;
}
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}
/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}
/* Contain floats: h5bp.com/q */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.browsehappy {
  height: 10%;
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 60px 0;
  font-size: 22px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999999;
}
.browsehappy a {
  color: yellow;
  text-decoration: underline;
}
.browsehappyimg {
  z-index: 999999999999999;
  position: absolute;
  left: 48%;
  top: 12%;
}
/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.pad-inner {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}
/*==================================================*/
/*=============== MOLECULAR STYLES ================*/
/*===============================================*/
/* (Common Elements that make up bigger groups elements.) */
.proxima-nova-light {
  font-family: 'proxima-nova', sans-serif;
  font-style: normal;
  font-weight: 300;
}
.proxima-nova-bold {
  font-family: 'proxima-nova', sans-serif;
  font-style: normal;
  font-weight: 700;
}
.proxima-nova-black {
  font-family: 'proxima-nova', sans-serif;
  font-style: normal;
  font-weight: 900;
}
.refrigerator {
  font-family: "refrigerator-deluxe-n9", "refrigerator-deluxe", sans-serif;
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: 'icomoon';
  src: url('/_assets/fonts/icomoon.eot?m7e3oh');
  src: url('/_assets/fonts/icomoon.eot?#iefixm7e3oh') format('embedded-opentype'), url('/_assets/fonts/icomoon.ttf?m7e3oh') format('truetype'), url('/_assets/fonts/icomoon.woff?m7e3oh') format('woff'), url('/_assets/fonts/icomoon.svg?m7e3oh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-att:before {
  content: "\e616";
}
.icon-sony:before {
  content: "\e60a";
}
.icon-hour:before {
  content: "\e609";
}
.icon-bh:before {
  content: "\e60b";
}
.icon-cole:before {
  content: "\e60c";
}
.icon-cs:before {
  content: "\e60d";
}
.icon-dot:before {
  content: "\e60e";
}
.icon-hs:before {
  content: "\e60f";
}
.icon-bk:before {
  content: "\e610";
}
.icon-love:before {
  content: "\e611";
}
.icon-madd:before {
  content: "\e612";
}
.icon-mobaglo:before {
  content: "\e613";
}
.icon-nokia:before {
  content: "\e614";
}
.icon-samsung:before {
  content: "\e615";
}
.icon-weroc:before {
  content: "\e617";
}
.icon-whfy:before {
  content: "\e618";
}
.icon-logo:before {
  content: "\e600";
}
.icon-etsy:before {
  content: "\e601";
}
.icon-twitter:before {
  content: "\e602";
}
.icon-instagram:before {
  content: "\e603";
}
.icon-facebook:before {
  content: "\e604";
}
.icon-paintbrush:before {
  content: "\e605";
}
.icon-computer:before {
  content: "\e606";
}
.icon-identity:before {
  content: "\e607";
}
.icon-print:before {
  content: "\e608";
}
html {
  font-size: 16px;
}
header,
section {
  font-size: 1rem;
}
footer {
  font-size: 0.875rem;
}
body {
  -webkit-font-smoothing: antialiased;
}
.inner {
  max-width: 1210px;
  width: 80%;
  margin: 0 auto;
}
div.left,
div.right {
  display: inline-block;
}
.clear {
  clear: both;
}
h1 {
  font-family: 'proxima-nova', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.25em;
  color: #000;
  text-align: justify;
  letter-spacing: .1px;
  padding-bottom: 40px;
}
h1 span.bold {
  font-family: 'proxima-nova', sans-serif;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .5px;
}
h2 {
  font-family: 'proxima-nova', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.25em;
  color: #000;
  text-align: justify;
  letter-spacing: .1px;
}
h3 {
  font-family: "refrigerator-deluxe-n9", "refrigerator-deluxe", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 2.5em;
  color: #993c36;
  text-align: center;
  letter-spacing: .1px;
  text-transform: uppercase;
  padding-top: 133px;
}
h4 {
  font-family: 'proxima-nova', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  color: #000;
  text-align: center;
  letter-spacing: .1px;
  text-transform: uppercase;
  padding-top: 35px;
}
h4:after {
  content: "";
  border-bottom: 4px solid #000;
  width: 26px;
  display: block;
  margin: 38px auto 54px;
}
h5 {
  font-family: "refrigerator-deluxe-n9", "refrigerator-deluxe", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.875em;
  color: #993c36;
  text-align: center;
  letter-spacing: .1px;
  text-transform: uppercase;
  margin-top: 30px;
}
p.headline {
  font-family: "refrigerator-deluxe-n9", "refrigerator-deluxe", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 6.52em;
  line-height: .9em;
  padding-bottom: 30px;
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}
p {
  font-family: 'proxima-nova', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.25em;
  color: #000;
  text-align: center;
  letter-spacing: .1px;
}
p.tag {
  font-size: 1.30375em;
  line-height: 1.4500000000000002em;
  color: #fff;
  letter-spacing: 8px;
  text-transform: uppercase;
  padding: 0 8%;
}
.btnBox {
  text-align: center;
}
.btnBox .btn {
  font-family: 'proxima-nova', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.15em;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000;
  padding: 10px 15px;
  display: inline-block;
  border: .5px solid #000;
  text-decoration: none;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
.btnBox .btn:hover {
  background-color: #000;
  color: #fff;
}
.btnBox .btn.alt {
  color: #fff;
  border-color: #fff;
}
.btnBox .btn.alt:hover {
  background-color: #fff;
  color: #000;
}
/*=================================================*/
/*================ ORGANIC STYLES ================*/
/*===============================================*/
/* (Groups of elements that are used throughout the site.) */
/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}
.fancybox-skin {
  position: relative;
  background: #fff;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.fancybox-opened {
  z-index: 8030;
  max-width: 1210px;
}
.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.fancybox-outer,
.fancybox-inner {
  position: relative;
}
.fancybox-inner {
  overflow: hidden;
  max-width: 1180px;
}
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}
.fancybox-image,
.fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}
#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
  background-image: url('/_assets/img/fancybox_sprite.png');
}
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url('/_assets/img/fancybox_loading.gif') center center no-repeat;
}
.fancybox-close {
  position: absolute;
  top: 93px;
  right: 61px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 10%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url('/_assets/img/blank.gif');
  /* helps IE */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040;
}
.fancybox-prev {
  left: 30px;
}
.fancybox-next {
  right: 30px;
}
.fancybox-nav span {
  position: absolute;
  top: 70%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}
.fancybox-nav:hover span {
  visibility: visible;
}
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}
/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}
.fancybox-lock body {
  overflow: hidden !important;
}
.fancybox-lock-test {
  overflow-y: hidden !important;
}
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url('/_assets/img/fancybox_overlay.png');
}
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}
/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}
.fancybox-opened .fancybox-title {
  visibility: visible;
}
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}
.fancybox-title-inside-wrap {
  padding-top: 10px;
}
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}
/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading,
  .fancybox-close,
  .fancybox-prev span,
  .fancybox-next span {
    background-image: url('/_assets/img/fancybox_sprite@2x.png');
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
  #fancybox-loading div {
    background-image: url('/_assets/img/fancybox_loading@2x.gif');
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}
.lightbox h3 {
  margin-top: 135px;
  font-size: 3.3125em;
}
.lightbox h4 {
  font-size: 2em;
  padding-top: 20px;
}
.lightbox h4:after {
  width: 112px;
  margin-top: 35px;
}
.lightbox p {
  margin-bottom: 60px;
}
.lightbox img {
  width: 100%;
  margin-bottom: 20px;
}
/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .slides {
  display: block;
}
* html .slides {
  height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block;
}
/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0 0 0px;
  zoom: 1;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.flexslider .slides {
  zoom: 1;
}
/* Custom Styles
*********************************/
section#slider div.inner {
  position: relative;
  height: 100%;
}
section#slider div.text {
  position: absolute;
  top: 264px;
}
section#slider div.text.two-lines {
  top: 194px;
}
section#slider div.text div.btnBox {
  margin-top: 74px;
}
/* Direction Nav */
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
  width: 30px;
  height: 30px;
  margin: -20px 0 0;
  display: block;
  background: url(/_assets/img/bg_direction_nav.png) no-repeat 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0;
  -webkit-transition: all .3s ease;
}
.flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: 0px;
}
.flex-direction-nav .flex-prev {
  left: 0px;
}
.flexslider:hover .flex-next {
  opacity: 0.8;
  right: 5px;
}
.flexslider:hover .flex-prev {
  opacity: 0.8;
  left: 5px;
}
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: .3!important;
  filter: alpha(opacity=30);
  cursor: default;
}
/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 0;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 0;
  }
}
/******** START SLIDER SECTION STYLES *********/
section#slider {
  position: relative;
}
section#slider a.scroll {
  color: #fff;
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: 'proxima-nova', sans-serif;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.75em;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -70px;
}
section#slider a.scroll:after {
  background: url(/_assets/img/arrow-down.png) no-repeat center center transparent;
  width: 20px;
  height: 20px;
  content: "";
  display: block;
  margin: 5px 0 0 45%;
}
/******** END SLIDER SECTION STYLES *********/
/******** START MAIN HEADER AND NAVIGATION STYLES *********/
header {
  position: relative;
}
header nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
header nav .inner {
  position: relative;
}
header nav.fixed {
  background-color: #fff;
  position: fixed;
  z-index: 9;
  top: 0;
  height: 70px;
  z-index: 3;
  background-color: #000;
}
header nav.fixed div#logo {
  background: url(/_assets/img/logo-snipe.png) no-repeat center 10px transparent;
  height: 57px;
  top: 0px;
  left: 2%;
}
header nav.fixed div#logo img {
  opacity: 0;
  height: 57px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
header nav.fixed li a#top-link {
  display: inline-block;
}
header nav.fixed.show {
  opacity: 1;
}
header nav div#logo {
  position: absolute;
  left: 0;
}
header nav ul {
  margin: 20px 0 0;
  width: 100%;
  position: absolute;
  right: 0;
  text-align: right;
}
header nav ul li {
  display: inline-block;
  font-family: 'proxima-nova', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  text-transform: uppercase;
  padding: 0 1%;
  letter-spacing: 4px;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
}
header nav ul li a#top-link {
  display: none;
}
header nav ul li a#about-link {
  padding-left: 0;
}
header nav ul li#line {
  position: absolute;
  height: 3px;
  bottom: -5px;
  left: 0;
  padding: 0;
  margin: 0;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
header nav ul li#line::before {
  content: "";
  width: calc(100% + 20px);
  height: 3px;
  background: #993c36 none repeat scroll 0 0;
  left: 0;
  position: absolute;
}
header nav ul a#showMenu {
  display: none;
}
/******** END MAIN HEADER AND NAVIGATION STYLES *********/
/******** START ABOUT SECTION STYLES *********/
section#about div.left {
  width: 39%;
  vertical-align: top;
}
section#about div.right {
  width: 54%;
  margin-left: 6%;
}
section#about div.right img {
  width: 100%;
}
/******** END ABOUT SECTION STYLES *********/
/******** START PORTFOLIO SECTION STYLES *********/
section#portfolio div#options {
  margin-bottom: 60px;
}
section#portfolio ul#filters li {
  display: inline-block;
  margin: 0 2px;
}
section#portfolio a.portfolio-item {
  width: 24%;
  height: 275px;
  display: inline-block;
  margin: 0 .1% 1px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
section#portfolio a.portfolio-item img {
  width: 100%;
  -webkit-transition: all 8000ms ease;
  -moz-transition: all 8000ms ease;
  -o-transition: all 8000ms ease;
  -ms-transition: all 8000ms ease;
  transition: all 8000ms ease;
}
section#portfolio a.portfolio-item div.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  background-color: #000;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
section#portfolio a.portfolio-item div.text {
  position: absolute;
  opacity: 0;
  width: 100%;
  font-size: 1em;
  text-align: center;
  color: #fff;
  padding: 35% 0 0;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
section#portfolio a.portfolio-item p.project-title {
  font-family: 'proxima-nova', sans-serif;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
}
section#portfolio a.portfolio-item p.project-title:after {
  content: "";
  border-bottom: 4px solid #993c36;
  width: 67px;
  display: block;
  margin: 16px auto;
}
section#portfolio a.portfolio-item p.project-details {
  font-family: 'proxima-nova', sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #fff;
  padding: 0 20%;
}
section#portfolio a.portfolio-item:hover div.overlay {
  opacity: .4;
}
section#portfolio a.portfolio-item:hover div.text {
  opacity: 1;
}
section#portfolio a.portfolio-item:hover img {
  width: 200%;
  margin: -50% 0 0 -50%;
}
/******** END PORTFOLIO SECTION STYLES *********/
/******** START TEAM SECTION STYLES *********/
section#team div > div {
  width: 100%;
  padding: 0 35%;
}
section#team div > div img {
  width: 100%;
}
section#team div > div h4 {
  padding-top: 5px;
}
section#team div > div h4:after {
  width: 70px;
  margin: 18px auto;
}
section#team p {
  margin: 0 -16%;
}
/******** END TEAM SECTION STYLES *********/
/******** START SERVICES SECTION STYLES *********/
section#services article {
  display: inline-block;
  width: 24.5%;
  margin: 0 1px;
  background-color: #b7b7b7;
  position: relative;
  vertical-align: top;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
section#services article span {
  color: #fff;
  font-size: 10em;
  text-align: center;
  display: block;
  z-index: 0;
  margin: 70px 0;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
section#services article div.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  background-color: #000;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
section#services article div.text {
  position: absolute;
  opacity: 0;
  width: 100%;
  font-size: 1em;
  text-align: center;
  color: #fff;
  padding: 25% 0 0;
  z-index: 1;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
section#services article p.project-title {
  font-family: 'proxima-nova', sans-serif;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
}
section#services article p.project-title:after {
  content: "";
  border-bottom: 4px solid #993c36;
  width: 67px;
  display: block;
  margin: 16px auto;
}
section#services article p.project-details {
  font-family: 'proxima-nova', sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #fff;
  padding: 0 20%;
}
section#services article:hover div.overlay {
  opacity: 1;
}
section#services article:hover div.text {
  opacity: 1;
}
section#services article:hover span {
  color: #464646;
  position: relative;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
/******** END SERVICES SECTION STYLES *********/
/******** START CLIENTS SECTION STYLES *********/
section#clients article.client {
  width: 19%;
  height: 210px;
  display: inline-block;
  margin: 0 .1% 1px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
section#clients article.client img.background {
  width: 100%;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  transition: all 200ms ease;
}
section#clients article.client div.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: .7;
  background-color: #000;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
section#clients article.client div.logo {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
section#clients article.client div.logo span {
  color: #fff;
  font-size: 3em;
  opacity: .5;
}
section#clients article.client div.logo span.icon-cole,
section#clients article.client div.logo span.icon-nokia {
  font-size: 1.5em;
  padding-top: 40%;
}
section#clients article.client div.logo span.icon-sony {
  font-size: .8em;
}
section#clients article.client div.logo span.icon-hs {
  font-size: 2em;
}
section#clients article.client:hover div.overlay {
  opacity: .8;
}
section#clients article.client:hover div.logo span {
  opacity: 1;
}
section#clients article.client:hover img.background {
  width: 120%;
  margin: -10% 0 0 -10%;
}
/******** END CLIENTS SECTION STYLES *********/
/******** START CONTACT SECTION STYLES *********/
section#contact article.left {
  float: left;
  vertical-align: top;
  width: 60%;
}
section#contact article.left input,
section#contact article.left textarea {
  width: 97%;
  background-color: #fff;
  border: 1px solid #b7b7b7;
  font-family: 'proxima-nova', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: .8em;
  line-height: 4.25em;
  color: #000;
  letter-spacing: .6px;
  text-transform: uppercase;
  padding-left: 3%;
  margin-bottom: 36px;
}
section#contact article.left textarea {
  height: 210px;
  resize: none;
}
section#contact article.left button.submit {
  margin-top: 48px;
  float: right;
  font-family: 'proxima-nova', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.15em;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000;
  padding: 10px 15px;
  border: 1px solid #000;
  background-color: transparent;
  text-decoration: none;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
section#contact article.left button.submit:hover {
  background-color: #000;
  color: #fff;
}
section#contact article.right {
  float: right;
  vertical-align: top;
  width: 29%;
  margin-left: 10%;
}
section#contact article.right h4 {
  font-family: "refrigerator-deluxe-n9", "refrigerator-deluxe", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.25em;
  color: #993c36;
  text-align: left;
  letter-spacing: .1px;
  text-transform: uppercase;
  margin-top: 0px;
  padding-top: 0px;
}
section#contact article.right h4:after {
  border-bottom: none;
  margin: 0;
}
section#contact article.right p {
  font-family: 'proxima-nova', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.25em;
  text-align: justify;
  padding: 17px 0;
}
section#contact article.right p span {
  display: block;
}
section#contact article.right p span a {
  color: #000;
  text-decoration: none;
}
section#contact article.right p span a:hover {
  color: #993c36;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
.g-recaptcha div {
  width: 100%;
}
.g-recaptcha div div {
  width: 100%!important;
}
.g-recaptcha div div iframe {
  float: right;
}
/******** END CONTACT SECTION STYLES *********/
/******** START MAIN FOOTER STYLES *********/
footer {
  margin-top: 112px;
  position: relative;
  background: url('/_assets/img/footer.jpg') repeat left top transparent;
  width: 100%;
  height: 540px;
}
footer .socials {
  padding: 60px 0 0;
  margin: 0 auto;
  width: 211px;
}
footer .socials a {
  font-size: 3em;
  color: #000;
  margin-right: 10px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
footer .socials a:hover {
  color: #fff;
}
footer .socials a:last-child {
  margin-right: 0;
}
footer span.icon-logo {
  font-size: 12em;
  color: #fff;
  padding-top: 90px;
  text-align: center;
  display: block;
  margin-bottom: 18px;
}
footer p {
  font-family: 'proxima-nova', sans-serif;
  font-style: normal;
  font-weight: 700;
  padding: 30px 0 0;
  font-size: .8em;
  color: #000;
  text-align: center;
}
/******** END FOOTER STYLES *********/
/*================================================*/
/*================  PAGE STYLES  ================*/
/*==============================================*/
/* (Styles for pages with elements occuring in ways specific to the page.) */
/*======================================================*/
/*================  RESPONSIVE STYLES  ================*/
/*====================================================*/
/*Contains ALL responsive code. Must be imported last so that it is the last css read.*/
@media screen and (max-width: 1400px) {
  section#portfolio a.portfolio-item {
    height: 250px;
  }
  section#clients article.client {
    height: 195px;
  }
  footer .socials a {
    font-size: 2em;
  }
}
@media screen and (max-width: 1300px) {
  html {
    font-size: 15.5px;
  }
  section#slider div.text div.btnBox {
    margin-top: 34px;
  }
  section#slider div.text {
    top: 204px;
  }
  section#slider div.text.two-lines {
    top: 154px;
  }
  section#portfolio a.portfolio-item {
    height: 225px;
  }
  section#services article {
    width: 24%;
  }
  section#services article span {
    font-size: 6em;
  }
  section#services article div.text {
    padding-top: 15%;
  }
  section#clients article.client {
    height: 180px;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 15px;
  }
  section#slider div.text div.btnBox {
    margin-top: 24px;
  }
  section#slider div.text {
    top: 174px;
  }
  section#slider div.text.two-lines {
    top: 124px;
  }
  h1 {
    padding-bottom: 10px;
  }
  section#portfolio a.portfolio-item {
    height: 205px;
  }
  section#clients article.client {
    height: 165px;
  }
}
@media screen and (max-width: 1100px) {
  html {
    font-size: 14.5px;
  }
  header nav ul li {
    display: none;
  }
  header nav ul li#line {
    display: none;
  }
  header nav ul li:first-child {
    margin-top: 60px;
  }
  header nav.expand.fixed ul {
    background-color: transparent;
  }
  header nav.expand {
    height: 100%;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  header nav.expand ul {
    background-color: #000;
    width: 100%!important;
    margin: 0 auto;
    padding: 37px 5% 37px 0;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.85)), color-stop(100%, rgba(0, 0, 0, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
  }
  header nav.expand li {
    display: block;
    line-height: 3em;
  }
  header nav.expand li a:hover {
    color: #993c36;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  header nav.expand a#showMenu {
    background: url(/_assets/img/close.png) no-repeat center center transparent;
    background-size: cover;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 30px;
    right: 5%;
  }
  header nav.expand a#showMenu img {
    display: none;
  }
  header nav ul a#showMenu {
    display: inline-block;
    width: 5%;
  }
  header nav ul a#showMenu img {
    width: 100%;
  }
  header nav div#logo {
    z-index: 1;
  }
  p.headline {
    font-size: 4.5em;
  }
  p.tag {
    font-size: 1em;
  }
  section#portfolio a.portfolio-item {
    height: 190px;
  }
  section#services article p.project-title:after {
    margin: 6px auto;
  }
  section#clients article.client {
    height: 150px;
  }
  section#clients article.client div.logo span.icon-cole,
  section#clients article.client div.logo span.icon-nokia {
    font-size: 1.3em;
  }
  section#clients article.client div.logo span.icon-sony {
    font-size: .6em;
  }
  footer span.icon-logo {
    margin-bottom: 0;
  }
  footer .socials,
  footer p {
    position: inherit;
    text-align: center;
  }
  footer .socials {
    padding: 70px 0 0;
  }
  footer p {
    padding: 80px 0 0;
  }
  footer .socials a:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 1000px) {
  html {
    font-size: 14px;
  }
  .flex-direction-nav a {
    top: 40%;
  }
  section#portfolio a.portfolio-item {
    height: 170px;
  }
  section#clients article.client {
    height: 135px;
  }
  section#clients article.client div.logo span {
    font-size: 2.7em;
  }
  section#slider a.scroll {
    margin-left: -64px;
  }
  footer span.icon-logo {
    font-size: 9em;
  }
}
@media screen and (max-width: 900px) {
  html {
    font-size: 13.5px;
  }
  section#slider a.scroll {
    display: none;
  }
  p.headline {
    padding-bottom: 10px;
  }
  section#slider div.text div.btnBox {
    margin-top: 24px;
  }
  .flex-direction-nav a {
    top: 35%;
  }
  section#about div.right {
    width: 100%;
    margin: 30px 0 0 0;
    display: block;
  }
  section#about div.left {
    width: 100%;
    display: block;
  }
  h3 {
    padding-top: 90px;
  }
  section#portfolio a.portfolio-item {
    height: 150px;
  }
  .btnBox .btn {
    letter-spacing: 2px;
  }
  section#portfolio a.portfolio-item div.text {
    padding-top: 25%;
  }
  section#services article div.text {
    padding-top: 10%;
  }
  section#clients article.client {
    height: 120px;
  }
  section#clients article.client div.logo span.icon-cole,
  section#clients article.client div.logo span.icon-nokia {
    font-size: 1em;
  }
  section#clients article.client div.logo span.icon-hs {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 800px) {
  html {
    font-size: 13px;
  }
  section#slider div.text {
    top: 114px;
  }
  section#slider div.text.two-lines {
    top: 104px;
  }
  .flex-direction-nav a {
    top: 30%;
  }
  p.tag {
    letter-spacing: 4px;
  }
  section#portfolio a.portfolio-item {
    height: 130px;
  }
  .btnBox .btn {
    font-size: 1em;
  }
  section#clients article.client {
    width: 32.7%;
    height: 180px;
  }
  footer span.icon-logo {
    font-size: 6em;
  }
}
@media screen and (max-width: 700px) {
  html {
    font-size: 12.5px;
  }
  p.headline {
    font-size: 3em;
    letter-spacing: 3px;
  }
  p.tag {
    font-size: .8em;
  }
  header nav ul a#showMenu {
    width: 40px;
  }
  .btnBox .btn {
    letter-spacing: 0;
  }
  section#portfolio a.portfolio-item {
    width: 49%;
    height: 230px;
  }
  section#portfolio a.portfolio-item div.text {
    padding-top: 30%;
  }
  section#portfolio a.portfolio-item p {
    font-size: 1.5em;
  }
  section#services article {
    width: 49%;
    margin: 0 1px 5px;
  }
  section#services article div.text {
    padding-top: 25%;
  }
  section#clients article.client {
    height: 155px;
  }
  section#contact article.right,
  section#contact article.left {
    float: none;
    width: 100%;
    margin: 0;
  }
  section#contact article.right {
    margin-bottom: 20px;
  }
  footer img {
    display: none;
  }
  footer {
    background: url(/_assets/img/footer.jpg) repeat-y center top transparent;
    width: 100%;
    height: 400px;
  }
  footer .socials {
    width: 100%;
    padding-top: 160px;
  }
  footer p {
    width: 100%;
    padding-top: 230px;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
  section#slider div.text {
    display: none;
  }
  header nav div#logo a img {
    display: none;
  }
  header nav div#logo {
    background: url(/_assets/img/logo-nobg.png) no-repeat center center transparent;
    width: 100%;
    height: 330px;
  }
  header nav.fixed div#logo {
    width: 57px;
    height: inherit;
  }
  header nav ul {
    z-index: 1;
  }
  .flexslider .slides li {
    overflow: hidden;
  }
  .flexslider .slides img {
    width: 130%;
    margin: 0 -15%;
  }
  h3 {
    padding-top: 70px;
  }
  h4 {
    padding-top: 25px;
  }
  h4:after {
    margin: 28px auto 34px;
  }
  .btnBox .btn {
    letter-spacing: 2px;
  }
  section#portfolio ul#filters li {
    margin: 0 7px 10px;
  }
  section#portfolio div#options {
    margin-bottom: 20px;
  }
  section#portfolio a.portfolio-item {
    height: 190px;
  }
  section#team div > div img {
    width: 40%;
    float: left;
    margin-right: 3%;
  }
  section#team div > div {
    width: 100%;
    padding: 0 0 30px;
  }
  section#team p {
    margin: 0;
  }
  section#team h5 {
    margin-top: 0;
  }
  section#team div.right {
    margin-left: 0;
  }
  section#team div > div h4 {
    margin-bottom: 10px;
  }
  section#team div > div h4:after {
    display: none;
  }
  section#clients article.client {
    width: 32.6%;
    height: 130px;
  }
}
@media screen and (max-width: 500px) {
  .flexslider .slides img {
    width: 160%;
    margin: 0 -30%;
  }
  section#portfolio a.portfolio-item {
    height: 150px;
  }
  section#portfolio a.portfolio-item p {
    font-size: 1em;
  }
  section#services article {
    width: 48%;
  }
  section#clients article.client {
    width: 32.4%;
    height: 105px;
  }
  footer span.icon-logo {
    font-size: 9em;
  }
}
@media screen and (max-width: 400px) {
  .flexslider .slides img {
    width: 200%;
    margin: 0 -50%;
  }
  section#portfolio a.portfolio-item {
    height: 115px;
  }
  section#portfolio a.portfolio-item div.text {
    padding-top: 20%;
  }
  section#portfolio a.portfolio-item p.project-title:after {
    margin: 6px auto;
  }
  section#team div > div img {
    width: 100%;
    margin-bottom: 20px;
  }
  section#services article {
    width: 100%;
    margin: 0 auto 5px;
  }
  section#clients article.client {
    width: 32.2%;
    height: 75px;
  }
  section#clients article.client div.logo span {
    font-size: 2em;
  }
  section#clients article.client div.logo span.icon-hs {
    font-size: 1em;
  }
  section#clients article.client div.logo span.icon-cole,
  section#clients article.client div.logo span.icon-nokia {
    font-size: .8em;
  }
  section#clients article.client div.logo span.icon-sony {
    font-size: .4em;
  }
}
