.proxima-nova-light {
	font-family: 'proxima-nova', sans-serif;
	font-style: normal;
	font-weight: 300;
}
.proxima-nova-bold {
	font-family: 'proxima-nova', sans-serif;
	font-style: normal;
	font-weight: 700;
}
.proxima-nova-black {
	font-family: 'proxima-nova', sans-serif;
	font-style: normal;
	font-weight: 900;
}
.refrigerator {
	font-family: "refrigerator-deluxe-n9", "refrigerator-deluxe" ,sans-serif;
	font-style: normal;
	font-weight: 900;
}


@font-face {
	font-family: 'icomoon';
	src:url('/_assets/fonts/icomoon.eot?4fjl1j');
	src:url('/_assets/fonts/icomoon.eot?#iefix4fjl1j') format('embedded-opentype'),
		url('/_assets/fonts/icomoon.woff?4fjl1j') format('woff'),
		url('/_assets/fonts/icomoon.ttf?4fjl1j') format('truetype'),
		url('/_assets/fonts/icomoon.svg?4fjl1j#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
	content: "\e600";
}

.icon-etsy:before {
	content: "\e601";
}

.icon-twitter:before {
	content: "\e602";
}

.icon-instagram:before {
	content: "\e603";
}

.icon-facebook:before {
	content: "\e604";
}

.icon-paintbrush:before {
	content: "\e605";
}

.icon-computer:before {
	content: "\e606";
}

.icon-identity:before {
	content: "\e607";
}

.icon-print:before {
	content: "\e608";
}

