html {
  font-size: 16px;
}
header, section {
  font-size: 1rem;
}
footer {
  font-size: 0.875rem;
}

body {
	-webkit-font-smoothing: antialiased;
}

.inner {
	max-width: 1210px;
	margin: 0 auto;
}

@red:		#993c36;

h1 {
	.proxima-nova-light;
	font-size: 1em;
	line-height: 1.25em;
	color: #000;
	text-align: justify;
	letter-spacing: .1px;
	span.bold {
		.proxima-nova-black;
		letter-spacing: .5px;
	}
}

h2 {
	.proxima-nova-light;
	font-size: 1em;
	line-height: 1.25em;
	color: #000;
	text-align: justify;
	letter-spacing: .1px;
}

h3 {
	.refrigerator;
	font-size: 2.5em;
	color: @red;
	text-align: center;
	letter-spacing: .1px;
	text-transform: uppercase;
	margin-top: 133px;
}

h4 {
	.proxima-nova-light;
	font-size: 1em;
	color: #000;
	text-align: center;
	letter-spacing: .1px;
	text-transform: uppercase;
}

p.headline {
	.refrigerator;
	font-size: 6.52em;
	line-height: 1.5384615384615385em;
	color: #fff;
	text-align: center;
	letter-spacing: 5px;
	text-transform: uppercase;
}
p.tag {
	.proxima-nova-light;
	font-size: 1.30375em;
	line-height: 1.4500000000000002em;
	color: #fff;
	text-align: center;
	letter-spacing: 8px;
	text-transform: uppercase;
}

.btn {
	.proxima-nova-black;
	font-size: 1.1875em;
	color: #fff;
	border: 4px solid #fff;
}


































