
section#contact
	article.left
		float: left
		vertical-align: top
		width: 60%
		input
		textarea
			width: 97%
			background-color: #fff
			border: 1px solid #b7b7b7
			.proxima-nova-light
			font-size: .8em
			line-height: 4.25em
			color: #000
			letter-spacing: .6px
			text-transform: uppercase
			padding-left: 3%
			margin-bottom: 36px
		textarea
			height: 210px
			resize: none
		button.submit
			margin-top: 48px
			float: right
			.proxima-nova-bold
			font-size: 1.15em
			letter-spacing: 3px
			text-transform: uppercase
			color: #000
			padding: 10px 15px
			border: 1px solid #000
			background-color: transparent
			text-decoration: none
			.transition
			&:hover
				background-color: #000
				color: #fff
	article.right
		float: right
		vertical-align: top
		width: 29%
		margin-left: 10%
		h4
			.refrigerator
			font-size: 1.25em
			color: @red
			text-align: left
			letter-spacing: .1px
			text-transform: uppercase
			margin-top: 0px
			padding-top: 0px
			&:after
				border-bottom: none
				margin: 0
		p
			.proxima-nova-light
			font-size: 1em
			line-height: 1.25em
			text-align: justify
			padding: 17px 0
			span
				display: block
				a
					color: #000
					text-decoration: none
					&:hover
						color: @red
						.transition
.g-recaptcha div
	width: 100%
	div
		width: 100%!important
		iframe
			float: right
