
.inner
  max-width: 1210px
  width: 80%
  margin: 0 auto

.wrapper
    display table
    height 100%
    width 100%
  .main
      display table-row
      height 100%
    aside
        display table-cell
        min-width 340px
        width 340px
        background-color pink
    section
        display table-cell
        width 100%
        background-color green
.grid
  max-width 1000px
  margin 0 auto
