
border-radius(n)
  border-radius n

transition(prop, time, ease)
  transition prop time ease

gradient(origin, start, stop)
  background-color start
  background-image linear-gradient(origin, start, stop)

drop-shadow(inset, x, y, blur, spread, alpha)
  box-shadow inset x y blur spread alpha

opacity(opacity)
  opacity opacity
