
h1
	.proxima-nova-light
	font-size: 1em
	line-height: 1.25em
	color: #000
	text-align: justify
	letter-spacing: .1px
	padding-bottom: 40px
	span.bold
		.proxima-nova-black
		text-transform: uppercase
		letter-spacing: .5px
	
h2
	.proxima-nova-light
	font-size: 1em
	line-height: 1.25em
	color: #000
	text-align: justify
	letter-spacing: .1px

h3
	.refrigerator
	font-size: 2.5em
	color: @red
	text-align: center
	letter-spacing: .1px
	text-transform: uppercase
	padding-top: 133px

h4
	.proxima-nova-light
	font-size: 1em
	color: #000
	text-align: center
	letter-spacing: .1px
	text-transform: uppercase
	padding-top: 35px
	&:after
		content: ""
		border-bottom: 4px solid #000
		width: 26px
		display: block
		margin: 38px auto 54px
	
h5
	.refrigerator
	font-size: 1.875em
	color: @red
	text-align: center
	letter-spacing: .1px
	text-transform: uppercase
	margin-top: 30px

p.headline
	.refrigerator
	font-size: 6.52em
	line-height: .9em
	padding-bottom: 30px
	color: #fff
	text-align: center
	letter-spacing: 5px
	text-transform: uppercase

p
	.proxima-nova-light
	font-size: 1em
	line-height: 1.25em
	color: #000
	text-align: center
	letter-spacing: .1px
	&.tag
		font-size: 1.30375em
		line-height: 1.4500000000000002em
		color: #fff
		letter-spacing: 8px
		text-transform: uppercase
		padding: 0 8%
	
.btnBox
	text-align: center
	.btn
		.proxima-nova-bold
		font-size: 1.15em
		letter-spacing: 3px
		text-transform: uppercase
		color: #000
		padding: 10px 15px
		display: inline-block
		border: .5px solid #000
		text-decoration: none
		.transition
		&:hover
			background-color: #000
			color: #fff		
		&.alt
			color: #fff
			border-color: #fff
			&:hover
				background-color: #fff
				color: #000
			
		
	


































