
$font-weight-light = 300
$font-weight-normal = 500
$font-weight-bold = 700
$primary-font = 'Raleway'
$performance-font = helvetica, arial, sans-serif

primary-font(w)
	font-family: $primary-font, $performance-font
	font-weight: w
